<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This administrable blog is my first web project and writes with PHP and MVC architectural pattern. Included following features : - Administration of posts - Upload images and resize - Complete member session system - Send e-mail - New member and comment validation - User notifications.">
    <meta name="author" content="Vincent Lescot">
    <meta name="keywords" content="OpenClassrooms,Vincent Lescot,Blog,Projet,Web,Development,PHP,Symfony">
    
    <title>{% block main_title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ base_url }}Public/img/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="{{ base_url }}Public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ base_url }}Public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ base_url }}Public/css/clean-blog.min.css" rel="stylesheet">
    
    <!-- My styles -->
    <link href="{{ base_url }}Public/css/front_style.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="{{ base_url }}Public/vendor/jquery/jquery.min.js"></script>
    <script src="{{ base_url }}Public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-sm py-1" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{{ base_url }}accueil">Vincent Lescot</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ base_url }}accueil">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ base_url }}blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ base_url }}accueil#contact-form">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ base_url }}authentification">ADMIN</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="alert-container"></div>

{% block header %}{% endblock %}


{% block content %}{% endblock %}

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row" id="my-links">
            <a class="offset-4 col-1" href="https://github.com/vlescot" target="_blank"><i class="fab fa-github fa-lg"></i></a>
            <a class="col-1" href="https://www.linkedin.com/in/vincent-lescot-70916959/" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a>
            <a class="col-1" href="https://twitter.com/VinceLesc" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
            <a class="col-1" href="mailto:vincent.lescot@gmail.com" target="_blank"><i class="far fa-envelope fa-lg"></i></a>
        </div>
        <div id="copyright" class='text-center'>&copy; 2018 - Réalisé par Vincent Lescot</div>
    </footer>

    <!-- Notification function -->
    <script src="{{ base_url }}Public/js/notification.js"></script>
    <script>
        $(document).ready(function(){
            var marginHeight = ($(window).height() - $('footer').height() - $('nav').height() - $('section').height())/2;
            if (marginHeight > 120) {
              $('section').css('margin-top', marginHeight);
              $('section').css('margin-bottom', marginHeight);
            }else {
                $('section').css('margin-top', '120px');
            }
        });
    </script>
{% block add_js %}{% endblock %}
    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>
  </body>

</html>
