{% extends 'layout.twig' %}

{% block main_title %}{{post.title}} - Blog{% endblock %}

{% block header %}   
	{% if post.img %}
	<header class="masthead" style="background-image: url('http://localhost/P5/Blog/Public/img/Fullsize/{{post.img}}')">
	{% else %}
	<header class="masthead">
	{% endif %} 
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
              <h2 class="subheading">{{ post.lede }}</h2>
              <span class="meta">Écrit par {{ post.login }}, le {{post.date_create|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM Y')}}</span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock %}

{% block content %}
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 mx-auto">
            <a href="http://localhost/P5/Blog/blog/" class="btn btn-primary float-left"><i class="fas fa-undo"></i> Retour</a>
          </div>
        </div>
      </div>
    </section>

    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
          	{{ post.content|raw }}
          </div>
        </div>
      </div>
    </article>

    <section id="comments">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-4 col-lg-6 offset-lg-6 mx-auto">
            <h3>Commentaires :</h3>
              {% for comment in comments %}
                {% if comment.validated == 1 %}
                  <div class="comment-content">
                    <p class="comment">{{ comment.content }}</p>
                    <p class="text-right infos"><strong>Par {{ comment.author }},  le {{ comment.date_create|localizeddate('none', 'none', 'fr', null, 'd MMMM Y à H:mm') }}</strong></p>
                  </div>
                {% endif %}
              {% endfor %}
            <form action="" method="post" class="form-inline">
                <div class="form-group">
                  <input type="text" name="author" class="form-control col-3" placeholder="Votre nom" required>
                  <textarea name="content" class="form-control col-7" placeholder="Écrire un commentaire..." rows="1" required></textarea>
                  <button type="submit" class="btn btn-primary col-2">Poster</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </section>
{% endblock %}