{% extends 'layout.twig' %}

{% block main_title %}Bienvenue - Blog{% endblock %}

{% block header %}
    <header class="masthead" style="background-image: url('{{ base_url }}Public/img/Fullsize/welcome.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1 class="h2">Vincent Lescot</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock %}
{% block content %}
    <section id="presentation">
      <div class="container">
        <div class="row">
          <div id="photo-container" class="col-lg-3 mx-auto text-center">
            <img class="img-fluid img-thumbnail text-center" id="self-photo" src="{{ base_url }}Public/img/ma_photo.jpg" alt="Vincent">
          </div>
          <div class="col-lg-9 text-center">
            <h2>Le dévelopement, une passion !</h2>
            <p>Après plusieurs années dans le secteur de la logistique, j'ai décidé de me réconvertir vers le développement web par passion.</p>
            <p> Afin de pousser plusieurs mois d'auto-formation de PHP et Javascript, j'ai choisi de me former, toujours par la pratique, avec le parcourt <em></br>« Développeuse d'application PHP/Symfony »</em> de <a href="https://openclassrooms.com/paths/developpeur-se-d-application-php-symfony" target="blank">OpenClassrooms</a>.</p>
            {# <p><em><span style="text-decoration: underline;">Technos</span> : PHP, Symfony, API REST, JavaScript, SQL, HTML, CSS, Bootstrap, Git</em></p> #}
            <a class="btn btn-primary" href="{{ base_url }}Public/files/CV.pdf">Voir mon CV</a>
          </div>
        </div>
      </div>
    </section>
  
   <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto text-center">
          <h2>Me contacter</h2>
           <p>N'hésitez pas à me demander plus d'informations.</p>
          <form action="{{ base_url }}accueil" method="post" name="sentMessage" id="contactForm" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Nom</label>
                <input type="text" class="form-control" placeholder="Nom" name="name" id="name" required data-validation-required-message="Veuillez saisir votre nom">
                <p class="help-block text-danger text-left"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Adresse Email</label>
                <input type="email" class="form-control" placeholder="Adresse Email" name="email" id="email" required data-validation-required-message="Veuillez saisir votre adresse Email">
                <p class="help-block text-danger text-left"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Objet</label>
                <input type="text" class="form-control" placeholder="Objet" name="subject" id="subject" >
                {# required data-validation-required-message="Veuillez saisir un objet" #}
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Message</label>
                <textarea rows="5" class="form-control" placeholder="Message" name="message" id="message" required data-validation-required-message="Veuillez saisir votre message"></textarea>
                <p class="help-block text-danger text-left"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Envoyer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>  
{% endblock %}

{% block add_js %}
    <!-- Contact Form JavaScript -->
    <script src="{{ base_url }}Public/js/jqBootstrapValidation.min.js"></script>
    <script src="{{ base_url }}Public/js/contact_me.min.js"></script>
{% endblock %}