{% extends 'layout.twig' %}

{% block main_title %}Liste des Articles - Administration{% endblock %}
	
{% block page_title %}Liste des Articles{% endblock %}

{% block content %}

	<section>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<a href="index.php" role="button" class="btn btn-outline-dark btn-sm">
						<i class="fas fa-undo"></i> Retour
					</a>
					<a href="index.php?v=addPost" role="button" class="btn btn-add float-right btn-sm">
						<i class="fas fa-plus-circle"></i> Ajouter un Article
					</a>
				</div>
			</div>

			<button style="width:100px;" class="btn btn-outline-secondary btn-sm float-right" id="filter">Filtrer</button>
	    	<div class="text-center">
				<div id="date_filter">
					<form action="index.php?v=posts" method="post">
						<label for="date_begin">Date début :</label>
			            <div class="form-check form-check-inline">
							<input id="date_begin" name="date_begin" min="2018-02-01" type='date' class="form-control"/>
						</div>
			            <label for="date_ending">Date fin :</label>
			            <div class="form-check form-check-inline">
							<input id="date_ending" name="date_ending" min="2018-02-01" type='date' class="form-control"/>
			            </div>
			            <div class="form-check form-check-inline">
							<button style="width: 50px;" type="submit" class="btn btn-outline-secondary btn-sm">Ok</button>
			            </div>
					</form>
				</div>
			</div>


		</div>
	</section>

	<section>
		<div class="container">
			<table id="post-listing" class="table">
			  <tr>
			    <th>Voir</th>
			    <th>Image</th>
			    <th>Titre</th> 
			    <th>Dernière Modification</th>
			    <th>Auteur</th>
			    <th>Action</th>
			  </tr>

		      {% for post in posts %}
			  <tr>
			  	<td>
			  		<a href="https://google.fr" style="font-size:2em;">
	  					<i class="fas fa-share-square"></i>
					</a>
				</td>
			    <td>
			    	<div class="post-img">
			    		<img src="https://upload.wikimedia.org/wikipedia/commons/2/27/PHP-logo.svg" alt={{ post.img }}>
			    	</div>
			    </td>
			    <td>{{ post.title }}<small class="form-text text-muted">{{ post.lede }}</small></td> 
			    <td>{{ post.date_create | date ('d/m/Y à H\\hi') }}</td>
			    <td>{{ post.login }}</td>
			    <td>
			    	<a href="index.php?v=update-{{ post.id }}" role="button" class="btn btn-update btn-sm"><i class="far fa-edit"></i> Modifier</a>
			    	<a href="index.php?v=delete-{{ post.id }}" role="button" class="btn btn-delete btn-sm"><i class="far fa-trash-alt"></i> Supprimer</a>
				</td>
			  </tr>
 	         {% endfor %}

			</table>
		</div>
	</section>

{% endblock %}
