{% extends 'layout.twig' %}

{% block main_title %}{% if update %}Modifier l'Article - Administration{% else %}Ajouter un Article - Administration{% endif %}{% endblock %}
	
{% block page_title %}{% if update %}Modifier l'Article</br><h2>{{ update.title }}</h2>{% else %}Ajouter un Article{% endif %}{% endblock %}

{% block content %}
	<section>
		<div class="container links">
			<a href="{{ base_url }}admin/article" role="button" class="btn btn-outline-dark btn-sm">
				<i class="fas fa-undo"></i> Retour
			</a>
		</div>
	</section>

	<section class="container">
		<form action="{{ base_url }}admin/article/{% if not update %}creer{% endif %}{% if update %}{{update.id}}{% endif %}" method="POST" enctype="multipart/form-data">
			<div class="form-row">
				<div class="col-md-12">
					<div class="form-row">
						<div class="col-md-8">
							<div class="form-row">
								<div class="col-md-12 form-group">
									<label for="title">Titre</label>
									<input type="text" class="form-control" name="title" id="title"
									{% if update.title %}
										placeholder="{{ update.title }}"
									{% else %} required{% endif %}>
								</div>
								<div class="col-md-12 form-group">
									<label for="lede">Châpo</label>
									<input type="text" class="form-control" name="lede" id="lede" 
									{% if update.lede %}
										placeholder="{{ update.lede }}"
									{% else %} required{% endif %}>
								</div>
								<div class="col-md-12 form-group">
									<label for="content">Contenu</label>
									<textarea class="form-control" name="content" id="editor" rows="5" placeholder="Rédiger le corps de votre article..."{% if not update.content %} {% endif %}></textarea>
								</div>
							</div>
						</div>
						<aside class="offset-md-1 col-md-3">
							{% if update.img %}
								<div class="form-group">
									<label for="file">Choisir une image d'en-tête</label>
								</div>
								<div class="form-group">
									<label name="file" for="file" class="label-file">
										<img class="rounded img-fluid" src="{{ base_url }}Public/img/Jumbotron/{{ update.img }}" alt="IMAGE:{{ update.title }}">
									</label>
		                            <label name="file" for="file" class="label-file">
		                            	<small>Format : jpg, jpeg ou png</small></br></small>
									</label>
									<input type="file" class="btn btn-light input-file" id="file" name="file" accept=".jpg, .jpeg, .png">
								</div>
								<div class="form-check">
								    <input type="checkbox" class="form-check-input" id="img-remove" name="img-remove">
								    <label class="form-check-label" for="img-remove">Ou supprimer l'image</label>
	                        	</div>
							{% else %}
								<div class="form-group">
									<label for="file">Choisir une image d'en-tête</label>
								</div>
								<div class="form-group">
									<label name="file" for="file" class="label-file">
										<img class="rounded img-fluid" src="{{ base_url }}Public/img/Jumbotron/no-image.png" alt="no-image">
									</label>								
		                            <label name="file" for="file" class="label-file">
		                            	<small>Format : jpg, jpeg ou png</small></br></small>
									</label>
									<input type="file" class="btn btn-light input-file" id="file" name="file" accept=".jpg, .jpeg, .png">
	                        	</div>
							{% endif %}
						</aside>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-12 text-center">
					 <button type="submit" class="btn btn-add btn-sm">Enregistrer l'article</button>
				</div>
			</div>
		</form>
	</section>	
{% endblock %}
