{% extends 'layout.twig' %}

{% block main_title %}Liste des Articles - Administration{% endblock %}
	
{% block page_title %}Liste des Articles{% endblock %}

{% block content %}

	<section>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<a href="http://localhost/P5/Blog/admin/accueil" role="button" class="btn btn-outline-dark btn-sm">
						<i class="fas fa-undo"></i> Retour
					</a>
					<a href="http://localhost/P5/Blog/admin/article/creer" role="button" class="btn btn-add float-right btn-sm">
						<i class="fas fa-plus-circle"></i> Ajouter un Article
					</a>
				</div>
			</div>
<<<<<<< HEAD
			<div class="row">
				<div class="col-11">
					<div id="date_filter" class="text-center">
						<form action="http://localhost/P5/Blog/admin/article" method="get">
							<label for="date_begin">Date début :</label>
				            <div class="form-check form-check-inline">
								<input id="date_begin" name="date_begin" min="2018-02-01" type='date' class="form-control"/>
							</div>
				            <label for="date_ending">Date fin :</label>
				            <div class="form-check form-check-inline">
								<input id="date_ending" name="date_ending" min="2018-02-01" type='date' class="form-control"/>
				            </div>
				            <div class="form-check form-check-inline">
								<button style="width: 50px;" type="submit" class="btn btn-outline-secondary btn-sm">Ok</button>
				            </div>
						</form>
					</div>
				</div>
				<div class="col-1">
					<button style="width:100px;" class="btn btn-outline-secondary btn-sm float-right" id="filter">Filtrer</button>

=======
			<button style="width:100px;" class="btn btn-outline-secondary btn-sm float-right" id="filter">Filtrer</button>
	    	<div class="text-center">
				<div id="date_filter">
					<form action="http://localhost/P5/Blog/admin/article" method="post">
						<label for="date_begin">Date début :</label>
			            <div class="form-check form-check-inline">
							<input id="date_begin" name="date_begin" min="2018-02-01" type='date' class="form-control"/>
						</div>
			            <label for="date_ending">Date fin :</label>
			            <div class="form-check form-check-inline">
							<input id="date_ending" name="date_ending" min="2018-02-01" type='date' class="form-control"/>
			            </div>
			            <div class="form-check form-check-inline">
							<button style="width: 50px;" type="submit" class="btn btn-outline-secondary btn-sm">Ok</button>
			            </div>
					</form>
>>>>>>> a774084bf9a96120514c02c668c6d7ff1c62bb1f
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<table id="post-listing" class="table">
			  <tr>
			    <th>Voir</th>
			    <th>Image</th>
			    <th>Titre</th> 
			    <th>Dernière Modification</th>
			    <th>Auteur</th>
			    <th class="text-center">Action</th>
			  </tr>

		      {% for post in posts %}
			  <tr>
			  	<td>
			  		<a href="http://localhost/P5/Blog/blog/{{ post.id }}" style="font-size:2em;"  target="_blank">
	  					<i class="fas fa-share-square"></i>
					</a>
				</td>
			    <td>
				{% if post.img %}
			    	<div class="post-img">
			    		<img src="http://localhost/P5/Blog/Public/img/Table/{{ post.img }}" alt="IMAGE:{{ post.title }}">
			    	</div>
			    {% else %}
			    	<div class="post-img">
			    		<img src="http://localhost/P5/Blog/Public/img/Table/no-image.png" alt="no-image">
			    	</div>
				{% endif %}
			    </td>
			    <td>{{ post.title }}<small class="form-text text-muted">{{ post.lede }}</small></td> 
			    <td>{{ post.date_update | date ('d/m/Y à H\\hi') }}</td>
			    <td>{{ post.author }}</td>
			    <td class="text-center">
			    	<a href="http://localhost/P5/Blog/admin/article/{{ post.id }}" role="button" class="btn btn-update btn-sm"><i class="far fa-edit"></i> Modifier</a><br>
			    	<button class="btn btn-delete btn-sm" onclick="deletePost({{ post.id }})"><i class="far fa-trash-alt"></i> Supprimer</button>
				</td>
			  </tr>
 	         {% endfor %}

			</table>
		</div>
	</section>
<script>
    // onclick on the button delete 
	function deletePost(id){
		if (confirm("Êtes vous certain(e) de vouloir supprimer cet article ?")) {
			$.post(window.location.href, 'id='+id, location.reload(true), "text");
		}
	}
</script>
{% endblock %}
